#image1 {
         width:284.250pt;
         height:213.750pt;
         margin-left:75.750pt;
         margin-top:9.000pt;
         margin-right:83.250pt;
         margin-bottom:11.250pt;
}
#image2 {
         width:243.750pt;
         height:228.750pt;
         margin-left:89.250pt;
         margin-top:5.250pt;
         margin-right:81.750pt;
         margin-bottom:10.500pt;
}
#image3 {
         width:393.685pt;
         height:395.924pt;
}
.table0 {
         border-spacing:0;
         padding-left:6.00pt;
         padding-top:6.00pt;
         padding-right:6.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         width:463.50pt;
}
.tr1 {
      height:26.00pt;
      background:#b7dbff;
}
.td2 {
      width:357.751pt;
      background:#b7dbff;
      border-top-style:solid;
      border-top-width:1px;
      border-top-color:#000000;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td3 {
      width:105.750pt;
      background:#b7dbff;
      border-top-style:solid;
      border-top-width:1px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr4 {
      height:36.00pt;
}
.td5 {
      width:357.751pt;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td6 {
      width:105.750pt;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr7 {
      height:22.00pt;
}
#image4 {
         width:393.685pt;
         height:395.924pt;
}
#image5 {
         width:258.750pt;
         height:276.750pt;
         margin-left:25.500pt;
         margin-top:5.250pt;
         margin-right:15.750pt;
         margin-bottom:1.500pt;
}
#image6 {
         width:400.432pt;
         height:395.924pt;
}
#image7 {
         width:329.250pt;
         height:165.750pt;
         margin-left:32.250pt;
         margin-top:4.500pt;
         margin-right:39.000pt;
         margin-bottom:10.500pt;
}
.table8 {
         border-spacing:0;
         padding-left:3.00pt;
         padding-top:4.00pt;
         padding-right:3.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         width:468.75pt;
}
.tr9 {
      height:17.00pt;
}
.td10 {
       width:116.263pt;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td11 {
       width:352.486pt;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td12 {
       width:116.263pt;
       background:#ffffff;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td13 {
       width:352.486pt;
       background:#ffffff;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
p.FM_TableFootnote {
                    margin-left:30.000pt;
                    margin-right:18.000pt;
                    text-align:left;
                    text-indent:-12.000pt;
                    margin-top:0.000pt;
                    margin-bottom:0.000pt;
                    word-spacing:0.250em;
                    font-family:"Times New Roman";
                    font-style:normal;
                    font-weight:normal;
                    font-size:10.0pt;
                    color:#000000;
                    background-color:none;
                    text-decoration:none;
                    letter-spacing:0.00em;
}
caption.FM_TableFootnote {
                          margin-left:30.000pt;
                          margin-right:18.000pt;
                          text-align:left;
                          text-indent:-12.000pt;
                          margin-top:0.000pt;
                          margin-bottom:0.000pt;
                          word-spacing:0.250em;
                          font-family:"Times New Roman";
                          font-style:normal;
                          font-weight:normal;
                          font-size:10.0pt;
                          color:#000000;
                          background-color:none;
                          text-decoration:none;
                          letter-spacing:0.00em;
}
p.FM_CellBody {
               margin-left:0.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:0.000pt;
               margin-top:0.000pt;
               margin-bottom:0.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:normal;
               font-size:12.0pt;
               color:#000000;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
}
caption.FM_CellBody {
                     margin-left:0.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:0.000pt;
                     margin-top:0.000pt;
                     margin-bottom:0.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:normal;
                     font-size:12.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
p.FM_Heading2 {
               margin-left:0.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:0.000pt;
               margin-top:12.000pt;
               margin-bottom:3.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:bold;
               font-size:12.0pt;
               color:#33cccc;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
               font:24pt Impact;
}
caption.FM_Heading2 {
                     margin-left:0.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:0.000pt;
                     margin-top:12.000pt;
                     margin-bottom:3.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:bold;
                     font-size:12.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
p.FM_Footnote {
               margin-left:30.000pt;
               margin-right:18.000pt;
               text-align:left;
               text-indent:-12.000pt;
               margin-top:0.000pt;
               margin-bottom:0.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:normal;
               font-size:10.0pt;
               color:#000000;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
}
caption.FM_Footnote {
                     margin-left:30.000pt;
                     margin-right:18.000pt;
                     text-align:left;
                     text-indent:-12.000pt;
                     margin-top:0.000pt;
                     margin-bottom:0.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:normal;
                     font-size:10.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
p.FM_Heading1 {
               margin-left:0.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:0.000pt;
               margin-top:14.000pt;
               margin-bottom:6.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:bold;
               font-size:14.0pt;
               color:#000000;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
}
caption.FM_Heading1 {
                     margin-left:0.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:0.000pt;
                     margin-top:14.000pt;
                     margin-bottom:6.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:bold;
                     font-size:14.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
p.FM_CellHeading {
                  margin-left:0.000pt;
                  margin-right:0.000pt;
                  text-align:center;
                  text-indent:0.000pt;
                  margin-top:0.000pt;
                  margin-bottom:0.000pt;
                  word-spacing:0.250em;
                  font-family:"Times New Roman";
                  font-style:normal;
                  font-weight:normal;
                  font-size:12.0pt;
                  color:#000000;
                  background-color:none;
                  text-decoration:none;
                  letter-spacing:0.00em;
}
caption.FM_CellHeading {
                        margin-left:0.000pt;
                        margin-right:0.000pt;
                        text-align:center;
                        text-indent:0.000pt;
                        margin-top:0.000pt;
                        margin-bottom:0.000pt;
                        word-spacing:0.250em;
                        font-family:"Times New Roman";
                        font-style:normal;
                        font-weight:normal;
                        font-size:12.0pt;
                        color:#000000;
                        background-color:none;
                        text-decoration:none;
                        letter-spacing:0.00em;
}
p.FM_TableTitle {
                 margin-left:0.000pt;
                 margin-right:0.000pt;
                 text-align:center;
                 text-indent:0.000pt;
                 margin-top:0.000pt;
                 margin-bottom:0.000pt;
                 word-spacing:0.250em;
                 font-family:"Times New Roman";
                 font-style:normal;
                 font-weight:bold;
                 font-size:12.0pt;
                 color:#000000;
                 background-color:none;
                 text-decoration:none;
                 letter-spacing:0.00em;
}
caption.FM_TableTitle {
                       margin-left:0.000pt;
                       margin-right:0.000pt;
                       text-align:center;
                       text-indent:0.000pt;
                       margin-top:0.000pt;
                       margin-bottom:0.000pt;
                       word-spacing:0.250em;
                       font-family:"Times New Roman";
                       font-style:normal;
                       font-weight:bold;
                       font-size:12.0pt;
                       color:#000000;
                       background-color:none;
                       text-decoration:none;
                       letter-spacing:0.00em;
}
p.FM_Bulleted {
               margin-left:18.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:-18.000pt;
               margin-top:0.000pt;
               margin-bottom:0.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:normal;
               font-size:12.0pt;
               color:#33cccc;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
               font:12pt Open Sans;
}
caption.FM_Bulleted {
                     margin-left:18.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:-18.000pt;
                     margin-top:0.000pt;
                     margin-bottom:0.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:normal;
                     font-size:12.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
p.FM_Body {
           margin-left:0.000pt;
           margin-right:0.000pt;
           text-align:left;
           text-indent:0.000pt;
           margin-top:0.000pt;
           margin-bottom:0.000pt;
           word-spacing:0.250em;
           font-family:"Times New Roman";
           font-style:normal;
           font-weight:normal;
           font-size:12.0pt;
           color:#000000;
           background-color:none;
           text-decoration:none;
           letter-spacing:0.00em;
           font:14pt Open Sans;
}
caption.FM_Body {
                 margin-left:0.000pt;
                 margin-right:0.000pt;
                 text-align:left;
                 text-indent:0.000pt;
                 margin-top:0.000pt;
                 margin-bottom:0.000pt;
                 word-spacing:0.250em;
                 font-family:"Times New Roman";
                 font-style:normal;
                 font-weight:normal;
                 font-size:12.0pt;
                 color:#000000;
                 background-color:none;
                 text-decoration:none;
                 letter-spacing:0.00em;
}
OL {
    margin-top:0px;
    margin-bottom:0px;
}
UL {
    margin-top:0px;
    margin-bottom:0px;
}
span.FM_Emphasis {
                  font-style:italic;
}
span.FM_EquationVariables {
                           font-style:italic;
}
p.FM_Numbered1 {
                margin-left:18.000pt;
                margin-right:0.000pt;
                text-align:left;
                text-indent:-18.000pt;
                margin-top:0.000pt;
                margin-bottom:0.000pt;
                word-spacing:0.250em;
                font-family:"Times New Roman";
                font-style:normal;
                font-weight:normal;
                font-size:12.0pt;
                color:gray;
                background-color:none;
                text-decoration:none;
                letter-spacing:0.00em;
                font:12pt Open Sans;
}
caption.FM_Numbered1 {
                      margin-left:18.000pt;
                      margin-right:0.000pt;
                      text-align:left;
                      text-indent:-18.000pt;
                      margin-top:0.000pt;
                      margin-bottom:0.000pt;
                      word-spacing:0.250em;
                      font-family:"Times New Roman";
                      font-style:normal;
                      font-weight:normal;
                      font-size:12.0pt;
                      color:#000000;
                      background-color:none;
                      text-decoration:none;
                      letter-spacing:0.00em;
}
p.FM_Numbered {
               margin-left:18.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:-18.000pt;
               margin-top:0.000pt;
               margin-bottom:0.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:normal;
               font-size:12.0pt;
               color:gray;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
               font:12pt Open Sans;
}
caption.FM_Numbered {
                     margin-left:18.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:-18.000pt;
                     margin-top:0.000pt;
                     margin-bottom:0.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:normal;
                     font-size:12.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
